<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Pipe Flow App</title>
</head>
<body>
    <div>
        <form method="POST">
            <p>Fluid name: </p>
            <input type="text" name="fluid_name">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p>{{result}}</p>
    </div>
</body>
</html>